<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.mapper.SampleMapper">
	<!-- 아이디에 들어가는 값은 메서드 이름,, -->
	<select id="getTime2" resultType="String">
		select sysdate || '[xml파일연동]' from dual
	</select>
</mapper>
